.page[b-mdli2hokia] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mdli2hokia] {
    flex: 1;
}

@media (min-width: 641px) {
    .page[b-mdli2hokia] {
        flex-direction: row;
    }
}

